In [2]:
import pandas as pd
import numpy as np

In [3]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [4]:
train_data.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [5]:
train_data.shape
#we have over 2 million data

(2249698, 6)

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249698 entries, 0 to 2249697
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   PRODUCT_ID       int64
 1   TITLE            object
 2   BULLET_POINTS    object
 3   DESCRIPTION      object
 4   PRODUCT_TYPE_ID  int64
 5   PRODUCT_LENGTH   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 103.0+ MB

In [7]:
#create a backup
backup = train_data
backup_test = test_data

In [8]:
#FIRST TASK IS TO CLEAN THE DESCRIPTION AND BULLET POINTS COLUMNS AND JOIN THEM

#TITLE
train_data[train_data["TITLE"].isna() == True ]

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
66157,1804,NaN,NaN,NaN,222,507.873000
196485,164542,NaN,NaN,NaN,150,575.000000
420890,16935,NaN,NaN,NaN,6104,290.000000
477469,1362139,NaN,[Top-notch and innovative tremolo pedal offers...,NaN,6632,500.000000
948754,566503,NaN,NaN,NaN,109,555.117000
1144461,678966,NaN,NaN,NaN,1,685.038000
1364032,548186,NaN,NaN,NaN,1,1228.344000
1716822,20369,NaN,NaN,NaN,154,1040.000000
1879925,496531,NaN,NaN,NaN,1,799.211000
1885213,555363,NaN,NaN,NaN,151,846.455000
1937873,1401496,NaN,[PACKAGE CONTENT: 6 Table Mats & 6 Coasters | ...,NaN,1346,1181.102361
2108453,113675,NaN,NaN,NaN,6044,600.000000
2174826,230468,NaN,NaN,NaN,1,750.000000

In [9]:
#Drop these
train_data = train_data.dropna(subset=["TITLE"])

In [10]:
#check for NULL in description and bullet points both

duplicate_desc = train_data["DESCRIPTION"].isna()
duplicate_bullet = train_data["BULLET_POINTS"].isna()
both_duplicate = duplicate_bullet & duplicate_desc
train_data[both_duplicate]

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424
6,413758,Ungifted: My Life and Journey,NaN,NaN,23,598.000
11,833712,La Mure / Valbonnais gps,NaN,NaN,1,433.070
12,648364,J'ecris des lettres! premiers exercices d'écri...,NaN,NaN,1,759.841
13,1991694,Mediterranean diet for beginners: 7Benefits of...,NaN,NaN,32,600.000
...,...,...,...,...,...,...
2249679,111250,When Work Becomes Optional,NaN,NaN,87,600.000
2249681,421168,Learning to Swim,NaN,NaN,12743,525.000
2249682,38572,"Holy Bible: New International Version, Camel/c...",NaN,NaN,129,488.188
2249691,571566,Comedy Wildlife Photography Awards: The perfec...,NaN,NaN,2968,271.250
2249696,1165754,Electro Voice EKX-BRKT15 | Wall Mount Bracket ...,NaN,NaN,592,2900.000

In [11]:
#dropping these
train_data = train_data.dropna(subset=['DESCRIPTION', 'BULLET_POINTS'], how='all')

In [12]:
train_data.shape

(1466188, 6)

In [13]:
train_data

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",HINS Brings you the most Elegant Looking Pot w...,5725,950.000000
...,...,...,...,...,...,...
2249692,2690647,Olmeo 14 LED Round Fog Light 4 Inches Waterpro...,"[Easy to install;,Round shape 14LED spot worki...",NaN,7978,590.550000
2249693,2422167,Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...,Material : Polyester,NaN,3009,1181.100000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[❤ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249695,1987786,Kangroo Sweep Movement Printed Wooden Wall Clo...,"[Dial size: 12 inches in diameter,Big, clear r...",Wall Clocks Are Very Attractive In Looks And E...,1574,1200.000000
2249697,1072666,Skyjacker C7360SP Component Box For PN[C7360PK...,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",Skyjacker C7360SP Component Box For PN[C7360PK...,7367,2000.000000

In [14]:
#checking the remaining missing values

train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].fillna("")
train_data["DESCRIPTION"] = train_data["DESCRIPTION"].fillna("")

In [15]:
train_data

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",HINS Brings you the most Elegant Looking Pot w...,5725,950.000000
...,...,...,...,...,...,...
2249692,2690647,Olmeo 14 LED Round Fog Light 4 Inches Waterpro...,"[Easy to install;,Round shape 14LED spot worki...",,7978,590.550000
2249693,2422167,Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...,Material : Polyester,,3009,1181.100000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[❤ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249695,1987786,Kangroo Sweep Movement Printed Wooden Wall Clo...,"[Dial size: 12 inches in diameter,Big, clear r...",Wall Clocks Are Very Attractive In Looks And E...,1574,1200.000000
2249697,1072666,Skyjacker C7360SP Component Box For PN[C7360PK...,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",Skyjacker C7360SP Component Box For PN[C7360PK...,7367,2000.000000

In [16]:
train_data.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  1.466188e+06     1.466188e+06    1.466188e+06
mean   1.934313e+06     4.949649e+03    5.711252e+03
std    6.445407e+05     3.818796e+03    1.673751e+06
min    7.000000e+00     0.000000e+00    1.000000e+00
25%    1.422697e+06     2.042000e+03    4.720000e+02
50%    1.947880e+06     3.242000e+03    7.874016e+02
75%    2.491906e+06     7.548000e+03    1.259843e+03
max    2.999997e+06     1.342000e+04    1.885801e+09

In [17]:
#the max length product is an outlier 
train_data = train_data[train_data["PRODUCT_LENGTH"] < 10e+4]

In [18]:
train_data.shape

(1464425, 6)

In [19]:
train_data = train_data[train_data["PRODUCT_LENGTH"] > 10]

In [20]:
train_data.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  1.455467e+06     1.455467e+06    1.455467e+06
mean   1.934555e+06     4.952323e+03    1.386917e+03
std    6.444791e+05     3.820288e+03    2.848975e+03
min    7.000000e+00     0.000000e+00    1.023622e+01
25%    1.422418e+06     2.060000e+03    4.724409e+02
50%    1.948591e+06     3.242000e+03    7.874016e+02
75%    2.491676e+06     7.548000e+03    1.259843e+03
max    2.999997e+06     1.342000e+04    9.990000e+04

In [21]:
train_data['TITLE'] = train_data['TITLE'].str[:40]

In [22]:
#now we will be cleaning the textual data like in title, description and bullet points

#Escaping out HTML characters
import re
CLEANR = re.compile('<.*?>') 

def cleanhtml(raw_html):
  cleantext = re.sub(CLEANR, '', raw_html)
  return cleantext

train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(cleanhtml)
train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(cleanhtml)
train_data["TITLE"] = train_data["TITLE"].apply(cleanhtml)

In [23]:
#Encode from UTF-8 to ascii
def encode_decode(html):
    encode =html.encode('ascii','ignore')

    #decode from ascii to UTF-8
    decode=encode.decode(encoding='UTF-8')
    return decode

train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(encode_decode)
train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(encode_decode)
train_data["TITLE"] = train_data["TITLE"].apply(encode_decode)

In [24]:
#library for regular expressions
import re

def regexx(tweet):
    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.\S+', "", tweet)

    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)

    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)

    return tweet

train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(regexx)
train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(regexx)
train_data["TITLE"] = train_data["TITLE"].apply(regexx)

In [25]:
#dictionary consisting of the contraction and the actual value
def apos(tweet):
    Apos_dict={"'s":" is","n't":" not","'m":" am","'ll":" will",
            "'d":" would","'ve":" have","'re":" are"}

    #replace the contractions
    for key,value in Apos_dict.items():
        if key in tweet:
            tweet=tweet.replace(key,value)

    return tweet

train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(apos)
train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(apos)
train_data["TITLE"] = train_data["TITLE"].apply(apos)

In [26]:
import re
#separate the words
def split(tweet):
    tweet = " ".join([s for s in re.split("([A-Z][a-z]+[^A-Z]*)",tweet) if s])
    return tweet

train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(split)
train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(split)
train_data["TITLE"] = train_data["TITLE"].apply(split)

In [27]:
#convert to lower case
def lower(tweet):
    tweet=tweet.lower()
    return tweet

train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(lower)
train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(lower)
train_data["TITLE"] = train_data["TITLE"].apply(lower)

In [28]:
import nltk
def stopw(tweet):
    #download the stopwords from nltk using
    nltk.download('stopwords')
    #import stopwords
    from nltk.corpus import stopwords

    #import english stopwords list from nltk
    stopwords_eng = stopwords.words('english')

    tweet_tokens=tweet.split()
    tweet_list=[]
    #remove stopwords
    for word in tweet_tokens:
        if word not in stopwords_eng:
            tweet_list.append(word)

    return tweet_list

In [29]:
# train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(stopw)

In [30]:
# train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(stopw)

In [31]:
#for string operations
import string	
def removepunc(tweet_list):	
  clean_tweet=[]
  #remove punctuations
  for word in tweet_list:
    if word not in string.punctuation:
      clean_tweet.append(word)

  return clean_tweet

In [32]:
# train_data["BULLET_POINTS"] = train_data["BULLET_POINTS"].apply(removepunc)
# train_data["DESCRIPTION"] = train_data["DESCRIPTION"].apply(removepunc)
# train_data["TITLE"] = train_data["TITLE"].apply(removepunc)

In [33]:
#make a new column called text
train_data["text"] = train_data["TITLE"] + train_data["BULLET_POINTS"] + train_data["DESCRIPTION"]

In [34]:
remove_duplicates = lambda x: ' '.join(list(set(x.split())))
train_data['text'] = train_data['text'].apply(remove_duplicates)

In [35]:
remove_symbols = lambda x: re.sub(r'[^\w\s]', '', x)
train_data['text'] = train_data['text'].apply(remove_symbols)

In [36]:
train_data["text"][0]

'hang front side 100 hooks colors direct natural curtains home made side set folio after tailored wash canvas digital large fabric thread stitching includes windows cold seams assured completely   a finish ensures sunlight tulip blackout knitted pcsblackout durable only tieback inch consistency opaque perfection fastness package at long hanging plain matching back multiple life printing for checks curtainluxurious fading material heavy ready water eyelets colour stateoftheart quality inbuilt walls 45feet beautiful tight canvas avoid gentle feet premium similar high cotton 60 to prevent of curtain 2 durability artz 5 on put eyelets 54inch room dispatched flowers any appealing with finished prevents in size top decorate color luxurious curtain perfectly multicolour refined or the custommade and hold height office versatile width'

In [37]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
#stop words
stop_words = set(stopwords.words('english'))
remove_stop_words = lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words])

In [38]:
train_data['text'] = train_data['text'].apply(remove_stop_words)

In [39]:
train_data = train_data.drop(['TITLE', 'DESCRIPTION', 'BULLET_POINTS'], axis=1)

In [40]:
train_data = train_data.reset_index(drop = True)

In [41]:
train_data

,PRODUCT_ID,PRODUCT_TYPE_ID,PRODUCT_LENGTH,text
0,1925202,1650,2125.980000,hang front side 100 hooks colors direct natura...
1,2673191,2755,393.700000,elastane 98 girls marks potter 616 2 trimmings...
2,2765088,7537,748.031495,application included dual pump voltage 12v ele...
3,1594019,2996,787.401574,length dark brand large according colors skinf...
4,2152929,5725,950.000000,one planter makes indoor plants air choice wro...
...,...,...,...,...
1455462,2690647,7978,590.550000,road led auto shockresistantwaterproof light e...
1455463,2422167,3009,1181.100000,df w kh bra material nike ny polyester swsh hn...
1455464,2766635,3413,125.984252,material alloy cute pi jeans get made giving c...
1455465,1987786,1574,1200.000000,one amazon dial printed help warranty perfecti...
1455466,1072666,7367,2000.000000,pnc c7360sp incl kit component spacers suspens...

In [42]:
train_data.to_csv("cleaned_train.csv",index=False)

In [43]:
backup = train_data
backup_test = test_data

In [44]:
#time to clean the test data (we cant hamper any rows ie cannot delete any of them)
test_data

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
0,604373,Manuel d'Héliogravure Et de Photogravure En Re...,NaN,NaN,6142
1,1729783,DCGARING Microfiber Throw Blanket Warm Fuzzy P...,[QUALITY GUARANTEED: Luxury cozy plush polyest...,<b>DCGARING Throw Blanket</b><br><br> <b>Size ...,1622
2,1871949,I-Match Auto Parts Front License Plate Bracket...,"[Front License Plate Bracket Made Of Plastic,D...",Replacement for The Following Vehicles:2020 LE...,7540
3,1107571,PinMart Gold Plated Excellence in Service 1 Ye...,[Available as a single item or bulk packed. Se...,Our Excellence in Service Lapel Pins feature a...,12442
4,624253,"Visual Mathematics, Illustrated by the TI-92 a...",NaN,NaN,6318
...,...,...,...,...,...
734731,921419,"Casual Canine Basic Hoodie for Dogs, 16"" Mediu...",[Brightly colored pet sweatshirts with authent...,"ZA6015 16 43 Size-See Chart Below: Medium: 16""...",7073
734732,2456362,Dive Log Book: Scuba Diving Logbook for Beginn...,NaN,NaN,1
734733,841529,Axor 39135001 Citterio Widespread Faucet with ...,"[8-Inch centers,1/2-Inch IPS inlets,9-Inch spo...",39135001 Features: -ADA compliant. -Includes p...,10645
734734,1190194,Caroline's Treasures BB1801DS812 Halloween Bas...,"[Indoor or outdoor aluminum artwork prints,8 i...",Features. Great for inside or outside these Al...,12680
734735,1040810,Amsahr 18C1623 Lexmark X3530 Remanufactured Re...,[Engineered and Manufactured Under European St...,Our Remanufactured Replacement Lexmark Ink Car...,0

In [45]:
test_data[test_data["TITLE"].isna()== True]

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
415358,117606,NaN,"[Dimensions: 2.4 x 0.5 x 8.6 inches,Weight: 2....",NaN,87
461647,681284,NaN,NaN,NaN,1
499290,966954,NaN,"[Alex Roses Long 75 | 3 bunches of 25 stems.,G...",A vibrant combination of peach and cream color...,0
520637,29018,NaN,NaN,NaN,22
723886,531574,NaN,NaN,NaN,152

In [46]:
sample = pd.read_csv("sample_submission.csv")
sample

        PRODUCT_ID  PRODUCT_LENGTH
0           604373      701.093794
1          1729783      734.506163
2          1871949      741.360258
3          1107571      730.327767
4           624253      666.847946
...            ...             ...
734731      921419      733.838809
734732     2456362      746.810825
734733      841529      691.127128
734734     1190194      757.643591
734735     1040810      754.110288

[734736 rows x 2 columns]

In [47]:
test_data[test_data["TITLE"].isna() == True]

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
415358,117606,NaN,"[Dimensions: 2.4 x 0.5 x 8.6 inches,Weight: 2....",NaN,87
461647,681284,NaN,NaN,NaN,1
499290,966954,NaN,"[Alex Roses Long 75 | 3 bunches of 25 stems.,G...",A vibrant combination of peach and cream color...,0
520637,29018,NaN,NaN,NaN,22
723886,531574,NaN,NaN,NaN,152

In [48]:
test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].fillna("")
test_data["DESCRIPTION"] = test_data["DESCRIPTION"].fillna("")
test_data["TITLE"] = test_data["TITLE"].fillna("")

test_data["DESCRIPTION"] = test_data["DESCRIPTION"].apply(cleanhtml)
test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].apply(cleanhtml)
test_data["TITLE"] = test_data["TITLE"].apply(cleanhtml)

test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].apply(encode_decode)
test_data["DESCRIPTION"] = test_data["DESCRIPTION"].apply(encode_decode)
test_data["TITLE"] = test_data["TITLE"].apply(encode_decode)

test_data["DESCRIPTION"] = test_data["DESCRIPTION"].apply(regexx)
test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].apply(regexx)
test_data["TITLE"] = test_data["TITLE"].apply(regexx)

test_data["DESCRIPTION"] = test_data["DESCRIPTION"].apply(apos)
test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].apply(apos)
test_data["TITLE"] = test_data["TITLE"].apply(apos)

test_data["DESCRIPTION"] = test_data["DESCRIPTION"].apply(split)
test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].apply(split)
test_data["TITLE"] = test_data["TITLE"].apply(split)

test_data["DESCRIPTION"] = test_data["DESCRIPTION"].apply(lower)
test_data["BULLET_POINTS"] = test_data["BULLET_POINTS"].apply(lower)
test_data["TITLE"] = test_data["TITLE"].apply(lower)

test_data["text"] = test_data["TITLE"] + test_data["BULLET_POINTS"] + test_data["DESCRIPTION"]

test_data['text'] = test_data['text'].apply(remove_duplicates)

test_data['text'] = test_data['text'].apply(remove_symbols)

test_data['text'] = test_data['text'].apply(remove_stop_words)

In [49]:
test_data = test_data.drop(['TITLE', 'DESCRIPTION', 'BULLET_POINTS'], axis=1)
test_data

,PRODUCT_ID,PRODUCT_TYPE_ID,text
0,604373,6142,relief de savoirs traditions d1890 et hliograv...
1,1729783,1622,decor keeps meditation 100 sofa 59 natural par...
2,1871949,7540,partslink 2020 part number front auto warranty...
3,1107571,12442,cloisonn select andgold recognize 1 3mm quanti...
4,624253,6318,visual ti89 ti92 mathematics illustrated
...,...,...,...
734731,921419,7073,16 hoodies l greens hooded pockets ribbed feat...
734732,2456362,1,diving divers logbook book experienced beginne...
734733,841529,10645,bathroom ceramic deck product height assembly1...
734734,1190194,12680,rounded basset front indoor direct kitchen dim...
734735,1040810,0,x5370 x3550 sealed x4530 manufactured x4550 pa...

In [50]:
test_data.to_csv("cleaned_test.csv",index=False)

In [51]:
sample = pd.read_csv("sample_submission.csv")
sample

        PRODUCT_ID  PRODUCT_LENGTH
0           604373      701.093794
1          1729783      734.506163
2          1871949      741.360258
3          1107571      730.327767
4           624253      666.847946
...            ...             ...
734731      921419      733.838809
734732     2456362      746.810825
734733      841529      691.127128
734734     1190194      757.643591
734735     1040810      754.110288

[734736 rows x 2 columns]

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [53]:
X = train_data.drop(columns=["PRODUCT_ID","PRODUCT_LENGTH"])
y = train_data["PRODUCT_LENGTH"]
X_test = test_data[["PRODUCT_TYPE_ID","text"]]

In [54]:
y

0          2125.980000
1           393.700000
2           748.031495
3           787.401574
4           950.000000
              ...
1455462     590.550000
1455463    1181.100000
1455464     125.984252
1455465    1200.000000
1455466    2000.000000
Name: PRODUCT_LENGTH, Length: 1455467, dtype: float64

In [55]:
X_test

        PRODUCT_TYPE_ID                                               text
0                  6142  relief de savoirs traditions d1890 et hliograv...
1                  1622  decor keeps meditation 100 sofa 59 natural par...
2                  7540  partslink 2020 part number front auto warranty...
3                 12442  cloisonn select andgold recognize 1 3mm quanti...
4                  6318           visual ti89 ti92 mathematics illustrated
...                 ...                                                ...
734731             7073  16 hoodies l greens hooded pockets ribbed feat...
734732                1  diving divers logbook book experienced beginne...
734733            10645  bathroom ceramic deck product height assembly1...
734734            12680  rounded basset front indoor direct kitchen dim...
734735                0  x5370 x3550 sealed x4530 manufactured x4550 pa...

[734736 rows x 2 columns]

In [56]:
y_test = sample["PRODUCT_LENGTH"]

In [57]:
X

         PRODUCT_TYPE_ID                                               text
0                   1650  hang front side 100 hooks colors direct natura...
1                   2755  elastane 98 girls marks potter 616 2 trimmings...
2                   7537  application included dual pump voltage 12v ele...
3                   2996  length dark brand large according colors skinf...
4                   5725  one planter makes indoor plants air choice wro...
...                  ...                                                ...
1455462             7978  road led auto shockresistantwaterproof light e...
1455463             3009  df w kh bra material nike ny polyester swsh hn...
1455464             3413  material alloy cute pi jeans get made giving c...
1455465             1574  one amazon dial printed help warranty perfecti...
1455466             7367  pnc c7360sp incl kit component spacers suspens...

[1455467 rows x 2 columns]

In [1]:
y = y.astype('float16')
y[np.isinf(y)] = 0
y.max()

NameError: name 'y' is not defined

In [2]:
y_test = y_test.astype("float16")
y_test

NameError: name 'y_test' is not defined

In [60]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
from sklearn.svm import SVR
# from xgboost import XGBRegressor
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error

In [61]:
X

         PRODUCT_TYPE_ID                                               text
0                   1650  hang front side 100 hooks colors direct natura...
1                   2755  elastane 98 girls marks potter 616 2 trimmings...
2                   7537  application included dual pump voltage 12v ele...
3                   2996  length dark brand large according colors skinf...
4                   5725  one planter makes indoor plants air choice wro...
...                  ...                                                ...
1455462             7978  road led auto shockresistantwaterproof light e...
1455463             3009  df w kh bra material nike ny polyester swsh hn...
1455464             3413  material alloy cute pi jeans get made giving c...
1455465             1574  one amazon dial printed help warranty perfecti...
1455466             7367  pnc c7360sp incl kit component spacers suspens...

[1455467 rows x 2 columns]

In [62]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(),[1])
],remainder='passthrough')

step2 = LinearRegression()

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X=X,y=y.astype("float16"))

# y_pred = pipe.predict(X_test)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('col_tnf', OneHotEncoder(),
                                                  [1])])),
                ('step2', LinearRegression())])

In [65]:
y_pred = pipe.predict(X_test)